.home-container{
    display: flex;
    justify-content: space-between;
    min-height: 600px;
    flex-direction: column;
    background-image: url('../../assets/Home/bg.jpg');
    background-position: center;
}